body {
    background: url(../image/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#detail_img_loader {
    display: none;
}

#detail_img_loader_2 {
    display: none;
}

.detail_img_similar_pic {
    cursor: pointer;
}

.photo {
    cursor: pointer;
}

.img_overlay {
    cursor: pointer;
}
