body {
    background-image: url("../image/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#index_grid {
    height: 100%;
}

#left_column, #right_column {
    height: 100%
}

#map_canvas {
    height: 95%;
}

#right_content {
    height: 80%;
    overflow: auto;
    overflow-x: hidden;
}

#comments {
    height: 350px;
    overflow: auto;
    overflow-x: hidden;
}

#detail_img_loader {
    display: none;
}

#detail_img_loader_2 {
    display: none;
}

.detail_img_similar_pic {
    cursor: pointer;
}

.photo {
    cursor: pointer;
}

.img_overlay {
    cursor: pointer;
}

#recommendation_loading {
    height: 400px;
}

