<div id="detail_img_loader">
    <div class="ui active dimmer">
        <div class="ui mini text loader">Loading</div>
    </div>
</div>
<div class="ui small modal" id="modal_sign_up">
    <i class="close icon"></i>

    <div class="header">
        Sign up with your email
    </div>
    <div class="content">
        <div class="description">
            <div class="ui error message" id="signup_error">
                <div class="header" id="signup_error_title">Network error</div>
                <p id="signup_error_message">Can't connect to the login server.</p>
            </div>
            <div class="ui form" id="signup_form">
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username" id="signup_username">
                </div>
                <div class="field">
                    <label>Email</label>
                    <input type="email" name="email" id="signup_email">
                </div>
                <div class="field">
                    <label>Bio</label>
                    <input type="text" name="bio" id="signup_bio">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" id="signup_password">
                </div>
                <div class="field">
                    <label>Confirm Password</label>
                    <input type="password" name="confirm_password" id="signup_confirm_password">
                </div>
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="ui positive right labeled icon button" id="btn_signup_action">
            Sign up!
            <i class="edit icon"></i>
        </div>
        <div class="ui button">
            Close
        </div>
    </div>
</div>
<div class="ui small modal" id="modal_sign_in">
    <i class="close icon"></i>

    <div class="header">
        Sign in with your username and password
    </div>
    <div class="content">
        <div class="description">
            <div class="ui error message" id="signin_error">
                <div class="header" id="signin_error_title">Network error</div>
                <p id="signin_error_message">Can't connect to the login server.</p>
            </div>
            <div class="ui form" id="signin_form">
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username" id="signin_username">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" id="signin_password">
                </div>
                {% csrf_token %}
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="ui positive right labeled icon button" id="btn_signin_action">
            Sign in!
            <i class="sign in icon"></i>
        </div>
        <div class="ui black button">
            Close
        </div>
    </div>
</div>
<div class="ui special popup" id="popup_profile">
    <div class="ui card">
        <div class="image">
            <img src="static/image/test image.jpg">
        </div>
        <div class="content">
            <a class="header">{{ info.username }}</a>

            <div class="meta">
                <span class="date">Joined in 2015</span>
            </div>
            <div class="description">
                About me.
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="user icon"></i>
                22 Friends
            </a>
        </div>
    </div>
</div>
<div class="ui modal" id="modal_past_results">
    <i class="close icon"></i>

    <div id="detail_img_loader_2">
        <div class="ui active dimmer">
            <div class="ui mini text loader">Loading</div>
        </div>
    </div>
    <div class="content">
        <div class="ui grid">

            <div class="four wide column">
                <img width="100%" src="static/image/test image.jpg" id="detail_img_src">

                <div id="detail_img_rating"></div>
            </div>
            <div class="twelve wide column">
                <h3 class="ui dividing header">Past matches:</h3>

                <div class="ui grid" id="past_similar_imgs">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui modal" id="modal_results">
    <i class="close icon"></i>

    <div id="detail_img_loader_2">
        <div class="ui active dimmer">
            <div class="ui mini text loader">Loading</div>
        </div>
    </div>
    <div class="content">
        <div class="ui grid">

            <div class="four wide column">
                <img width="100%" src="static/image/test image.jpg" id="detail_img_src2">

                <div id="detail_img_rating"></div>
            </div>
            <div class="twelve wide column">
                <h3 class="ui dividing header">Recent matches:</h3>

                <div class="ui grid" id="similar_imgs">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui modal" id="modal_picture">
    <i class="close icon"></i>

    <div id="detail_img_loader_2">
        <div class="ui active dimmer">
            <div class="ui mini text loader">Loading</div>
        </div>
    </div>
    <div class="content">
        <div class="ui grid">

            <div class="ten wide column">
                <img width="100%" height="100%" src="static/image/bag result3.jpg" id="result_image">

                <div class="two fluid ui inverted icon buttons">
                    <div class="ui blue basic button" id="like">
                        <i class="pointing right large icon"></i>
                    </div>
                    <div class="ui green basic  button" id="shop">
                        <i class="shop large icon"></i>
                    </div>
                </div>
            </div>
            <div class="six wide column">

                <div class="ui grid">
                    <div class="sixteen wide column">
                        <h6 class="ui dividing header">Title</h6>

                        <div id="detail_img_description">
                            Saffiano Medium Double Zip Top-Handle Bag
                        </div>
                        <h5 class="ui dividing header">Content</h5>

                        <div id="detail_img_description">
                            A roomy design in luxurious Saffiano leather with a versatile, detachable strap.

Double top handles, 5" drop
Detachable shoulder strap, 22"-24" drop
Three compartments, one open and two zip closures
Protective metal feet
Snap gussets
One inside zip pocket
Two inside open pockets
Logo lining
13"W X 9.5"H X 5.5"D
Leather
Made in Italy
                        </div>
                        <h4 class="ui dividing header">Original Link</h4>
                        <h3 class="ui dividing header">Brands</h3>

                        <div id="detail_img_description">
                            Prada
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).on("click", ".history", function () {
        var loadedIndex = 1;
        var base = $(this).attr('src');
        console.log(histories[base]);
        $('#detail_img_src').attr('src', base);
        $('#past_similar_imgs').empty();
        for (var i = 0; i < histories[base].length; i++) {
            var item = histories[base][i];
            var img = document.createElement('img');
            img.onload = function (e) {
                img.onload = null;
                setTimeout(function () {
                    $(img).addClass('loaded');
                }, 25 * loadedIndex++);
            };
            img.src = item.url;
            img.width = '100%';
            img.className = 'four wide column ui medium rounded image past_detail_img_similar_pic';
            $('#past_similar_imgs').append(img);
        }

        // show first now
        $('#modal_past_results')
                .modal({
                    allowMultiple: true
                })
                .modal('show')
        ;
    });

    $('#btn_profile')
            .popup({
                popup: $('.popup'),
                on: 'click'
            });

    $('#shop').click(function () {
        window.open('http://www.saksfifthavenue.com/main/ProductDetail.jsp?PRODUCT%3C%3Eprd_id=845524446593079');
    });

    $('#like').click(function () {
        console.log('clicked like');
    });

    $('#btn_signup').click(function () {
        $('#signup_error').hide();
        $('#signup_email').val("");
        $('#signup_password').val("");
        $('#signup_nickname').val("");
        $('#modal_sign_up').modal({
            onApprove: function () {
                $('#signup_form').form('validate form');
                return false;
            }
        }).modal('show');
    });

    $('#btn_signin').click(function () {
        $('#signin_error').hide();
        $('#signin_email').val("");
        $('#signin_password').val("");
        $('#modal_sign_in').modal({
            onApprove: function () {
                $('#signin_form').form('validate form');
                return false;
            }
        }).modal('show');
    });

    $('#btn_logout').click(function () {

        $.ajax({
            type: 'GET',
            url: 'signin?action=logout',
            success: function (response) {
                //console.log(response);
                location.reload();
            },
            error: function (err) {

            },
            dataType: 'text'
        });
    });

    // Validate the signin form.
    $('#signin_form')
            .form({
                email: {
                    identifier: 'username',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter your username'
                        }
                    ]
                },
                password: {
                    identifier: 'password',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter your password'
                        }
                    ]
                }
            }, {
                onSuccess: function () {
                    var username = $('#signin_username').val();
                    var password = $('#signin_password').val();
                    var token = $('input[name=csrfmiddlewaretoken]').val();
                    console.log("hey");
                    $.ajax({
                        type: 'POST',
                        url: 'signin',
                        data: {
                            'username': username,
                            'password': password,
                            'csrfmiddlewaretoken': token
                        },
                        success: function (response) {
                            console.log(response);
                            if (response.type == true) {
                                $('.small.modal').modal('hide');
                                location.reload();
                            } else {
                                console.log("f");
                                $('#signin_error_title').html(response.title);
                                $('#signin_error_message').html(response.message);
                                $('#signin_error').show('fast');
                            }

                        },
                        error: function (err) {
                            console.log("f2");
                            console.log(err);
                            $('#signin_error').show('fast');
                            return false;
                        },
                        dataType: 'json'
                    });
                }

            });

    // Validate the register form.
    $('#signup_form')
            .form({
                email: {
                    identifier: 'email',
                    rules: [
                        {
                            type: 'email',
                            prompt: 'Please enter a email'
                        }
                    ]
                },
                password: {
                    identifier: 'password',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter your password'
                        }
                    ]
                },
                confirm_password: {
                    identifier: 'confirm_password',
                    rules: [
                        {
                            type: 'match[password]',
                            prompt: 'Your password does not match'
                        }
                    ]
                },
                nickname: {
                    identifier: 'nickname',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter your nickname'
                        }
                    ]
                }
            }, {
                onSuccess: function () {
                    var email = $('#signup_email').val();
                    var password = $('#signup_password').val();
                    var confirm_pw = $('#signup_confirm_password').val();
                    var username = $('#signup_username').val();
                    var bio = $('#signup_bio').val();
                    var token = $('input[name=csrfmiddlewaretoken]').val();
                    $.ajax({
                        type: 'POST',
                        url: 'signup',
                        data: {
                            'email': email,
                            'password': password,
                            'confirm_password': confirm_pw,
                            'username': username,
                            'bio': bio,
                            'csrfmiddlewaretoken': token
                        },
                        success: function (response) {
                            console.log(response);
                            if (response.type == true) {
                                $('.small.modal').modal('hide');
                                location.reload();
                            } else {
                                $('#signup_error_title').html(response.title);
                                $('#signup_error_message').html(response.message);
                                $('#signup_error').show('fast');
                            }

                        },
                        error: function (err) {
                            console.log(err);
                            $('#signup_error').show('fast');
                            return false;
                        },
                        dataType: 'json'
                    });
                }

            });

    var opening = true;
    $(document).on("click", ".detail_img_similar_pic", function () {
        var id;
        // attach events to buttons
        $('#modal_picture')
                .modal({
                    closable: false,
                })
                .modal('attach events', '.detail_img_similar_pic')
        ;
        if (opening == false) {
            $.ajax({
                type: 'GET',
                url: 'getSinglePhoto',
                data: {
                    'photoId': id
                },
                beforeSend: function (s) {
                    $('#detail_img_loader_2').show();
                },
                success: function (data) {
                    $('#detail_img_src').attr('src', data.url);
                    $('#detail_img_description').html(data.content);
                    $('#modal_past_results').modal('refresh');
                    $('#detail_img_loader_2').hide();
                    opening = false;
                },
                error: function (err) {
                    console.log(err);
                },
                dataType: 'json'
            });
        }
    });
</script>
</body>
</html>