<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Snap Scout</title>
    {% load staticfiles %}
    <link href="{% static "css/semantic.min.css" %}" rel="stylesheet">
    <link href="{% static "css/perfect-scrollbar.min.css" %}" rel="stylesheet">
    <link href="{% static "css/timeline.css" %}" rel="stylesheet">
    <link href="{% static "css/photobox.css" %}" rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/semantic.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.photobox.js" %}"></script>
    <script type="text/javascript" src="{% static "js/perfect-scrollbar.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/timeline.js" %}"></script>
</head>
<body>
<div class="ui inverted pink menu">
    <a class="{% if index %}active{% endif %} item" href="/">
        <i class="home icon"></i> Home
    </a>
    <a class="item" href=" {% static "snapscout.apk" %}">
        <i class="download icon"></i> Download iOS client
    </a>

    <div class="item">
        <div class="ui circular facebook icon button">
            <i class="facebook icon"></i>
        </div>
        <div class="ui circular twitter icon button">
            <i class="twitter icon"></i>
        </div>
        <div class="ui circular linkedin icon button">
            <i class="linkedin icon"></i>
        </div>
        <div class="ui circular google plus icon button">
            <i class="google plus icon"></i>
        </div>
        <div class="ui circular instagram icon button">
            <i class="instagram icon"></i>
        </div>
        <div class="ui circular youtube icon button">
            <i class="youtube icon"></i>
        </div>
        <div class="ui circular icon teal button">
            <i class="qq icon"></i>
        </div>
        <div class="ui circular icon red button">
            <i class="weibo icon"></i>
        </div>
    </div>
    <div class="right menu">
        {% if login %}
            <div class="item">
                Welcome back, {{ info.username }}!
            </div>
            <div class="item">
                <div class="ui blue button" id="btn_profile">My profile</div>
            </div>
            <div class="item">
                <div class="ui red button" id="btn_logout">Log out</div>
            </div>
        {% else %}
            <div class="items ui buttons">
                <div class="ui inverted green button" id="btn_signup">Sign up</div>
                <div class="or"></div>
                <div class="ui inverted blue button" id="btn_signin">Sign in</div>
            </div>
        {% endif %}
    </div>
</div>