{% include "head.html" %}
<div class="ui grid centered" id="index_grid">
    <div class="twelve wide column" id="right_column">
        <div class="ui blue menu" id="right_column_menu">

            <div class="item">
                <div class="inline fields">
                    <div class="field">
                        <label class="header">Search: &nbsp;</label>

                        <div class="ui icon input">
                            <input type="text" placeholder="Gucci Handbag" name="keywords" id="input_keywords">
                            <i class="search link icon" id="btn_search"></i>
                        </div>
                    </div>
                </div>
            </div>

            <a class="active item">

                <form enctype="multipart/form-data">
                    {% csrf_token %}
                    <i class="camera retro icon"></i> Upload your snap for scouting:
                    <input name="file" type="file" id="uploaded">

                </form>
            </a>
        </div>


        <div class="sixteen wide column centered" id='gallery'>
            <ul id='gallery'><h4 class="ui horizontal header divider">
                <i class="history icon"></i>
                Past searches:
            </h4></ul>
        </div>

    </div>
</div>
<script type="text/javascript">
    var histories = {};
    var results = [];
    var uploaded = '';
    var user = {}, friends = [];
        {% if login %}
            user = {{ info.user |safe }};
            friends = {{ info.friendship |safe }};
        {% endif %}

    $(document).ready(function () {
        {% if login %}
            showGallery({{ info.history |safe}});
        {% endif %}

        $('.season').click(function () {
            $('.season').removeClass("active");
            $(this).addClass("active");
            alert(1);
        });

        var keywords = $('#input_keywords');
        keywords.keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");
            }
        });

        keywords.bind("enterKey", function (e) {
            searchImage($(this).val());
        });

        $('#btn_search').click(function () {
            keywords.trigger("enterKey");
        });

    });
    function searchImage(text) {
        /*var loadedIndex = 1;
         $('#detail_img_src2').attr('src', 'static/image/bag sample.png');
         $('#similar_imgs').empty();
         for (var i = 0; i < 7; i++) {
         var img = document.createElement('img');
         img.onload = function (e) {
         img.onload = null;
         setTimeout(function () {
         $(img).addClass('loaded');
         }, 25 * loadedIndex++);
         };
         img.src = 'static/image/bag result' + (i + 1) + '.jpg';
         img.width = '100%';
         img.className = 'four wide column ui medium rounded image detail_img_similar_pic';
         $('#similar_imgs').append(img);
         }*/
        var loadedIndex = 1;
        var formData = new FormData($('form')[0]);
        formData.append('additional', text);
        var uploaded_new = $('#uploaded').val().replace(/^.*\\/, "");
        if (uploaded != uploaded_new) {
            uploaded = uploaded_new;
            $.ajax({
                type: 'POST',
                url: 'imagesearch',
                xhr: function () {  // Custom XMLHttpRequest
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) { // Check if upload property exists
                    }
                    return myXhr;
                },
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    //console.log(data);
                    if (data.length > 0) {

                        $('#detail_img_src2').attr('src', '/static/uploads/' + uploaded);
                        $('#similar_imgs').empty();
                        for (var i = 0; i < data.length; i++) {
                            var img = document.createElement('img');
                            img.onload = function (e) {
                                img.onload = null;
                                setTimeout(function () {
                                    $(img).addClass('loaded');
                                }, 25 * loadedIndex++);
                            };
                            img.src = data[i].url;
                            img.width = '100%';
                            img.title = i;
                            results[i] = data[i];
                            img.className = 'four wide column ui medium rounded image detail_img_similar_pic';
                            $('#similar_imgs').append(img);
                        }
                        $('#modal_picture')
                                .modal({
                                    allowMultiple: true,
                                    closable: true
                                })
                                .modal('attach events', '.detail_img_similar_pic');

                        // show first now
                        $('#modal_results')
                                .modal({
                                    closable: false
                                })
                                .modal('show');
                    } else {
                        $('#right_content').html("No photo in this area.");
                    }
                },
                error: function (err) {
                    console.log(err);
                },
                dataType: 'json'
            });

        } else {
            $('#modal_results').modal('show');
        }
    }
    ;

    //-------------------------------------------
    // Load history results
    //-------------------------------------------
    function showGallery(history) {
        'use strict';

        var gallery = $('#gallery');
        var loadedIndex = 1, isVideo;
        $.each(history, function (index, photo) {
            isVideo = false;
            var url = history[index]['url'],
                    img = document.createElement('img');
            //console.log(url)
            $.ajax({
                type: 'GET',
                url: 'searchhistory',
                data: {
                    'base': url
                },
                success: function (data) {
                    //console.log(data);
                    if (data.length > 0) {
                        histories[url] = data;
                    } else {
                        $('#right_content').html("No photo in this area.");
                    }


                },
                error: function (err) {
                    console.log(err);
                },
                dataType: 'json'
            });
            // lazy show the photos one by one
            img.onload = function (e) {
                img.onload = null;
                var link = document.createElement('a'),
                        li = document.createElement('li')

                link.appendChild(this);
                if (isVideo) {
                    link.rel = 'video';
                    li.className = 'video'
                }
                $(img).addClass('history');
                li.appendChild(link);
                gallery[0].appendChild(li);

                setTimeout(function () {
                    $(li).addClass('loaded');
                }, 25 * loadedIndex++);
            };

            img['largeUrl'] = isVideo ? photo.url : url;
            img['isVideo'] = isVideo;
            img.src = url;
            img.title = history[index]['id'];
        });
        // finally, initialize photobox on all retrieved images
        //$('#gallery').photobox('a', {thumbs: true}, callback);
        // using setTimeout to make sure all images were in the DOM, before the history.load() function is looking them up to match the url hash
        setTimeout(window._photobox.history.load, 1000);
        setTimeout(function () {
            $(document).css('background-image', 'url("../image/background.jpg");');
        }, 1200);
        function callback() {
            console.log('callback for loaded content:', this);
        };
    }
</script>
{% include "footer.html" %}



