{% include "head.html" %}
<div class="ui grid centered" id="index_grid">
    <div class="eleven wide column" id="right_column">
        <div class="ui blue menu" id="right_column_menu">

            <div class="item">
                <div class="inline fields">
                    <div class="field">
                        <label class="header">Search: &nbsp;</label>

                        <div class="ui icon input">
                            <input type="text" placeholder="Gucci Handbag" name="address" id="input_address">
                            <i class="search link icon" id="btn_search"></i>
                        </div>
                    </div>
                </div>
            </div>

            <a class="active item">
                <i class="camera retro icon"></i> Upload your snap for scouting:
                <input type="file" name="photo" id="upload_photo">
            </a>
        </div>
        <div id="right_content">
        </div>
        <div id='gallery'>
            <ul id='gallery'></ul>
        </div>

    </div>
</div>


<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDayRarZl_9rrBq09-O0P1brolBUOLRAoA&sensor=TRUE&libraries=visualization">
</script>
<script type="text/javascript">

    $(document).ready(function () {

        $('.season').click(function () {
            $('.season').removeClass("active");
            $(this).addClass("active");
            alert(1);
        });

        var keywords = $('#input_keywords');
        keywords.keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");
            }
        });

        keywords.bind("enterKey", function (e) {
            doSearch($(this).val());
        });

        $('#btn_search').click(function () {
            keywords.trigger("enterKey");
        });


    });
    function loadPhoto(bound) {
        var season = $('.season.active').html();
        $.ajax({
            type: 'GET',
            url: 'getPhotos',
            data: {
                'season': season,
            },
            success: function (data) {
                console.log(data);
                if (data.length > 0) {
                    $('#right_content').html("");
                    timeline = new Timeline($('#right_content'), data);
                    $('#right_content').scrollTop(0);
                    timeline.display();
                } else {
                    $('#right_content').html("No photo in this area.");
                }


            },
            error: function (err) {
                console.log(err);
            },
            dataType: 'json'
        });
    }

    function doSearch(keywords) {
        if (keywords == "")
            keywords = "Handbag Gucci";
        $.ajax({
            type: 'GET',
            url: 'searchPosition',
            data: {
                'additional': keywords
            },
            success: function (response) {
                if (response.results.length > 0) {
                    var center = response.results[0].geometry.location;
                    var centerLatLng = new google.maps.LatLng(center.lat, center.lng);
                    var bounds = new google.maps.LatLngBounds(centerLatLng, centerLatLng);
                    var northeast = response.results[0].geometry.bounds.northeast;
                    var neLatLng = new google.maps.LatLng(northeast.lat, northeast.lng);
                    bounds.extend(neLatLng);
                    var southwest = response.results[0].geometry.bounds.southwest;
                    var swLatLng = new google.maps.LatLng(southwest.lat, southwest.lng);
                    bounds.extend(swLatLng);
                    map.fitBounds(bounds);
                    loadPhoto(bounds);
                }
            },
            error: function (err) {
                console.log(err);
            },
            dataType: 'json'
        });
    };

//-------------------------------------------
// Load history results
//-------------------------------------------
!(function(){
    'use strict';

	var numOfImages = window.location.search ? parseInt(window.location.search.match(/\d+$/)[0]) : 50,
		gallery = $('#gallery'),
		videos = [
		];

    // Get some photos from Flickr for the demo
    $.ajax({
        url: 'https://api.flickr.com/services/rest/',
        data: {
            format: 'json',
            method: 'flickr.interestingness.getList',
			per_page : numOfImages,
            api_key: 'b51d3a7c3988ba6052e25cb152aecba2' // this is my own API key, please use yours
        },
	    dataType: 'jsonp',
        jsonp: 'jsoncallback'
    })
	.done(function (data){
        var loadedIndex = 1, isVideo;

		// add the videos to the collection
		data.photos.photo = data.photos.photo.concat(videos);

        $.each( data.photos.photo, function(index, photo){
			isVideo = photo.thumb ? true : false;
			// http://www.flickr.com/services/api/misc.urls.html
            var url = 'http://farm' + photo.farm + '.static.flickr.com/' + photo.server + '/' + photo.id + '_' + photo.secret,
				img = document.createElement('img');
            url = 'static/image/test image';
			// lazy show the photos one by one
			img.onload = function(e){
				img.onload = null;
				var link = document.createElement('a'),
				li = document.createElement('li')
				link.href = this.largeUrl;

				link.appendChild(this);
				if( this.isVideo ){
					link.rel = 'video';
					li.className = 'video'
				}
				li.appendChild(link);
				gallery[0].appendChild(li);

				setTimeout( function(){
					$(li).addClass('loaded');
				}, 25*loadedIndex++);
			};

			img['largeUrl'] = isVideo ? photo.url : url + '_b.jpg';
			img['isVideo'] = isVideo;
			img.src = isVideo ? photo.thumb : url + '.jpg';
			img.title = photo.title;
        });

		// finally, initialize photobox on all retrieved images
		$('#gallery').photobox('a', { thumbs:true }, callback);
		// using setTimeout to make sure all images were in the DOM, before the history.load() function is looking them up to match the url hash
		setTimeout(window._photobox.history.load, 1000);
		function callback(){
			console.log('callback for loaded content:', this);
		};
    });
})();
</script>
{% include "footer.html" %}



